.contain-realtime{
    margin-top: 200px;
    margin-bottom: 200px;
}

.contain-mainContactPage{
    width: 100%;
}
.title-mainContact{
    width: 100%;
    text-align: center;
    margin: 50px auto;
}